@font-face {
  font-family: 'My font';
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-weight:500,700,800;
  font-style: normal;
}
:root {
  /* Primary */
  --light-red-bg: hsla(0, 100%, 67%, 3%);
  --Orangey-yellow: hsla(39, 100%, 56%,3%);
  --Green-teal: hsla(166, 100%, 37%,3%);
  --Cobalt-blue: hsla(234, 85%, 45%,3%);

  /* Gradiant */
  --Light-slate-blue: hsla(252, 100%, 67%);
  --Light-royal-blue: hsla(241, 81%, 54%);
  /* Tanim: My Fix Start */
  --Light-royal-blue-opec: hsla(241, 81%, 54%, 0);
  /* Tanim: My Fix End */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
   --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
     --Dark-gray-blue: hsla(224, 30%, 27%,85%);
}

body{
  background-color: var(--Pale-blue);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

}

.main{
  background-color: var(--White);
  border-radius: 1.5rem;
  display: flex;
  max-width: 540px;
  font-family: 'My font',sans-serif;



}

*{
  box-sizing: border-box;
}

.card{
  width: 50%;
  /* padding: 2rem; */

  /* Tanim: My Fix Start */
  padding: 1.5rem 2rem;
  /* Tanim: My Fix End */
}






.card1 {
  background-image: linear-gradient(to top, var(--Light-royal-blue), var(--Light-slate-blue));
  color: var(--White);
  border-radius: 1.5rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  /* padding: 2.5rem; */
}

.score {
  /* background-color: var(--Violet-blue); */

  /* Tanim: My Fix Start */
  background-image: linear-gradient(to top, var(--Light-royal-blue-opec) 10%, var(--Light-royal-blue) 90%);
  /* Tanim: My Fix End */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line{
  margin:0;
}
.sc{
  font-size: 50px;
}
.of{
  font-size: 15px;
  font-weight: 500;
  color:hsla(0, 0%, 100%,40%) ;
}
.result{
  font-size: 18px;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 70%);
  margin-bottom: 1.5rem;
}
.lower{
  font-size: 13px;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 70%);

    text-align: center;
}
.Great{
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 0.5;
}






/* Tanim: My Fix Start */
.tab-fix {
  border-radius: .5rem;
  font-size: 13px;
  display: flex;
  margin-bottom: .8rem;
  padding: .7rem;
  align-items: center;
  border: 2px dashed var(--Dark-gray-blue);
}

.tab-fix img {
  margin-right: 5px;
}

.tab-fix .marks {
  margin-left: auto;
}
/* Tanim: My Fix End */

.tab{
  border-radius: .5rem;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem;
  padding: .7rem;
  align-items: center;
}

.reaction{
  background-color: var(--light-red-bg);
}
.memory{
  background-color:var(--Orangey-yellow);
}
.verbal{
  background-color: var(--Green-teal);
}
.visual{
  background-color: var(--Cobalt-blue);
}

.left span{
  margin: .1rem;

}

.right span{
  font-size: 13px;
    font-weight: 500;
    color: hsla(0, 7%, 14%, .4);
}
.right b{
  font-weight: 700;
  color: hsla(0, 7%, 14%, 70%);
}

.r{
  font-weight:450;
  color: hsla(0, 100%, 67%, 80%);
}
.m{
  font-weight: 450;
  color:hsla(39, 100%, 56%, 80%) ;
}
.v{
  font-weight: 450;
  color: hsla(166, 100%, 37%, 80%);
}
.vi{
  font-weight: 450;
  color:hsla(234, 85%, 45%, 80%) ;
}



.button{
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  display: flex;
  justify-content: center;
  border-radius: 50px;
  margin-top: 2rem;
  padding: .7rem;
}

.card2 h3{

}
